body{
  margin:0;
  background-color: #f8bbd0;
  font-family: 'Do Hyeon', sans-serif;
  
}
.btn{
  font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 3px;
  width: 200px;
  padding:10px;
  border: 2px solid #333;
  border-radius: 4px;
  color:#102027;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing:border-box;
  display: block;
}
input{
  font-family: 'Do Hyeon', sans-serif;
  outline:none;
  color:#102027;
  letter-spacing: 2px;

}

.wrap{
  max-width:600px;
  border-radius: 10px;
  background-color: rgba(246,246,246,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:30px auto;
  
}
.wrap .title{
  font-size: 30px;
  font-weight: 700;
  padding:5px;
  font-family:'Festive','Nanum Brush Script',cursive;
}
.wrap .auth{
  
  letter-spacing: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  border-radius: 12px;
}
.wrap .auth .btn-wrap{
  display: flex;
}
.wrap .auth .btn-wrap .btn{
border:none;
}
.wrap .auth .btn-wrap .btn {
  border-radius: 12px 12px 0 0;
  background-color: #fff;
  
}
.wrap .auth .btn-wrap .btn.signin.show{
  background-color: #eeaeca;
  color:#fff;
  
}
.wrap .auth .btn-wrap .btn.signup.show{

  background-color: #eeaeca;
  color:#fff;
  
}
.wrap .auth .container {
  padding:10px;
  box-sizing: border-box;
  background-color: #eeaeca;
  border-radius: 0 0 12px 12px;
}
.wrap .auth .container .form{
  display:none;
  width:90%;
  margin:0 auto;
  padding:10px;
  
}

.wrap .auth .container .form.show{
  display: flex;
  flex-direction: column;
  color:#fff;
}

.wrap .auth .container input{
  margin:5px 0;
  padding:7px;
  border-radius: 5px;
  border:2px solid rgba(0,0,0,.3);
  
}

.wrap .submit{
  display: none;
  width:350px;
  font-size: 16px;
  font-weight: 700;
  background-color:#eeaeca;
  border-radius: 10px;
  padding:10px;
  margin:20px;
  cursor:pointer;
  box-sizing: border-box;
  border:none;
}
.wrap .submit.show{
  display: block;
  color:#fff;
}
.wrap .submit.show:hover{
  background-color:#f06292;
  
  
}
